// custom colors here
// as we used build version, override using this format
// e.g: for colors (remember !important)

/*
.text-primary
  color: white !important
.bg-primary
  background-color: #F00	!important

.text-secondary
  color: white !important
.bg-secondary
  background-color: #0F0	!important

.text-tertiary
  color: white !important
.bg-tertiary
  background-color: #00F !important

*/

// any other styles - sadly no variables?